In [1]:
import pandas as pd 
import numpy as np 
import pyodbc 

import warnings
warnings.filterwarnings("ignore")

In [5]:
conn_str = (
    'DRIVER={ODBC Driver 17 for SQL Server};' 
    'SERVER=LAPTOP-R92FOVSQ;' #your server name (mine is : OMAR/Omar )
    'DATABASE=IMB;'           #your DATABASE name(INSTANT)
    'Trusted_Connection=yes;'
)

In [6]:
conn = pyodbc.connect(conn_str)

In [7]:
query = "SELECT * FROM dbo.Courses"
df = pd.read_sql(query, conn)

df

   course_id         course_name  instructor_id
0        101  Python Programming              1
1        102                Math              2
2        103             English              3
3        104     AI Fundamentals              4
4        105             Physics              5